
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  width: 100%;
  background-color: rgb(53, 53, 53);
}

#wrapper {
  background-color: white;
}

header {
  background-color: white;
  width: 100%;
  text-align: center;
}

header > h1 {
  font-size: 6em;
  padding: 50px 70px 70px 70px;
}

header > img {
  width: 200px;
  animation-duration: 5s;
  animation-name: slideout;
}

@keyframes slideout {
  0% {
    width: 600px;
    opacity: 0;
  }
  30% {
    width: 600px;
    opacity: 1;
  }
  100% {
    width: 200px;
  }
}
 
main {
  background-color: white;
  height: 100%;
}

section {
  display: flex;
  justify-content: center;
  text-align: center;
}

article {
  background-image: linear-gradient(white, rgb(243, 243, 243));
  padding-top: 50px;
  padding-bottom: 40px;
  display: flex;
  width: 100%;
  flex-wrap: wrap-reverse;
  justify-content: center;
  text-align: center;
}

article.gradient {
  background-image: linear-gradient(rgb(243, 243, 243), white, rgb(243, 243, 243));
  border-top:black 1px solid;
  flex-direction: column;
  flex-wrap: wrap;
}

article > p {
  font-size: 2.4em;
  line-height: 1.5;
  margin: 40px;
  padding-bottom: 30px;
  max-width: 770px;
  min-width: 600px;
  width: 100%;
  align-self: center;
  text-align: left;
}

figure {
  min-width: 550px;
  padding: 1%;
  align-self: center;
  justify-content: center;
  animation-duration: 2s;
  animation-name: fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

figcaption {
  font-size: 12px;
}

footer {
  background-color: rgb(53, 53, 53);
  border-width: 1px;
  border-style: solid hidden hidden hidden;
  border-color: rgb(0, 0, 0);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.2em;
  color: honeydew;
  text-align: center;
  width: 100%;
}

canvas {
  width: 100%; 
  max-width: 700px; 
  padding-bottom: 40px;
}

.stronger {
  font-size: 1.5em;
}

ul, li {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0px;
  padding-bottom: 0px;
  max-width: 770px;
  min-width: 600px;
  align-self: center;
  text-align: left;
}

.littleWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
}

a.button1 {
  width: 10em;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}
a.button1:hover{
  color:#000000;
  background-color:#FFFFFF;
}
@media all and (max-width:30em){
  a.button1{
    display:block;
    margin:0.4em auto;
  }
}

@media screen and (min-width: 992px) {
  article > p {
    font-size: 1.6em;
    max-width: 600px;
  }

  canvas {
    min-width: 58em;
    min-height: 29em;
  }

  article.gradient > p {
    max-width: 55%;
  }
}

@media screen and (min-width: 1150px) {
  canvas {
    min-width: 66em;
    min-height: 33em;
  }
}